<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate</title>
</head>

<body >
    <div class="body-con">

    
    <ng-container *ngIf="showNavbar()">
        <app-navbar></app-navbar>
    </ng-container>
    <div class="main-con">
        <router-outlet></router-outlet>
    </div>

    <!-- <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div> -->



    <!-- <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div> -->
</div>
</body>

</html>