/* verification-code-dialog.component.scss */
.dialog-title {
    margin: 0;
    font-size: 24px;
  }

  .center-input {
    display: flex;
    flex-direction: column;
}
  
  .instructions {
    margin-bottom: 15px;
  }
  
  .verification-input {
    width: 100%;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
//   .cancel-button {
//     background-color: #ccc;
//   }
  
//   .submit-button {
//     background-color: #007bff;
//     color: white;
//   }
  
  .btn-con {
    width: 200px;
    margin: 0 auto;
    background-color: #149CEA;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-con[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.cancle-btn {
    background-color: #d35555;
    margin-right: 5px;
}
.submit-btn {
    background-color: #149CEA;
    margin-left: 5px;
}