<h2 mat-dialog-title>Verification Code</h2>
<!-- <button mat-icon-button mat-dialog-close (click)="closeVerifyDialog()">
    <mat-icon>close</mat-icon>
</button> -->

<div mat-dialog-content>
    <p>Please enter the verification code you received:</p>
    <div class="center-input">
        <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput placeholder="Enter your code" [(ngModel)]="verificationCode">
            <mat-icon matSuffix>pets icon</mat-icon>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn-con cancle-btn" (click)="cancel()">Cancel</button>
    <button mat-button color="primary" [disabled]="!verificationCode" class="btn-con submit-btn"
        (click)="submit()">Submit</button>
</div>