<div class="reg-page-con">

    <div class="register-container">
        <div class="title-con">
            <h1 >Forget Password</h1>
        </div>
        <form [formGroup]="forgetForm" class="login-form-con">
           
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" formControlName="email">
                <mat-icon matSuffix style="color:lightgreen">email</mat-icon>
                <mat-error *ngIf="forgetForm.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error
                    *ngIf="!forgetForm.get('email')?.hasError('required') && forgetForm.get('email')?.hasError('invalidEmail')">
                    Invalid email format
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter your password" formControlName="password">
                <mat-icon matSuffix style="color:lightgreen">password</mat-icon>
                <mat-error *ngIf="forgetForm.get('password')?.hasError('required')">
                    Password is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Confirm your password" formControlName="confirmPassword">
                <mat-icon matSuffix style="color:lightgreen">password</mat-icon>
                <mat-error *ngIf="forgetForm.get('confirmPassword')?.hasError('required')">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="forgetForm.get('confirmPassword')?.hasError('mismatch')">
                    Passwords do not match
                </mat-error>
            </mat-form-field>

            <button type="submit"  [disabled]="forgetForm.invalid" class="login-button"
                (click)="submitForm()">Submit</button>
        </form>
    </div>
</div>